.flex { 
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  justify-items: center; 
  width: 1225px; 
  padding: 50px;
}
.flexCol { 
    border: 1px solid gray;
     padding: 50px; 
     font-family: Roboto; 
     font-size: 50px; 
     text-align: center; 
     color: gray; 
     width: 625px;
     height : 600px;
     border-radius: 3px;
     -opacity: 2;
  }
  .flexLoginImg {
      background-image: url('~src/assets/images/login.png');
      width: 600px;
      height : 600px;
      opacity: 0.6;
  }
  .error{
    color: #FF0000;
  }
  .login-container {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    margin: 2em auto auto;
  }
  .login-lable{
    font-size: 25px;
    font-style: normal;
    font-family: Roboto;
  }
  @media screen and (max-width: 600px) {
      .flex div {
        width: 100%;
      }
    }
