
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box > div {
    box-sizing: border-box;
    border: 1px black;
    border-color:teal;
    align-self: center;
    width: 100px;
    height: 100px;
  }
        



